<% if (typeof flash !== 'undefined' && flash) { %>
<div class="alert alert-<%= flash.type %> alert-dismissible fade show" role="alert">
  <%= flash.msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>
